.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Change as needed */
  font-style: normal;
}

#hd {
  position: absolute;
  left: 10px;
  top: 1%;
  margin: 10px;

  font-weight: 600;
  font-size: 20px; /* Adjust size as needed */
  background: linear-gradient(
    to right,
    var(--bghd-color),
    rgb(255, 255, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: var(--bg-color);
  /*background: linear-gradient(315deg, rgb(255, 202, 146) 3%, rgb(101, 101, 101) 38%, rgba(0, 0, 0, 0.46) 68%, rgb(255, 149, 0) 98%);*/
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

#chatbox {
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
  border: 0px solid rgb(112, 108, 108);
}

#chatbox::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
#inpbox {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 400px;
  height: 50px;

  background-color: rgba(22, 22, 22, 0.2);
  overflow: hidden;
  border: 0px solid rgb(235, 235, 235);
}
#inp {
  background-color: rgba(22, 22, 22, 0.1);
  padding: 5px;
  border: none;
  width: 400px;
  height: 60px;

  outline: 0;
  color: rgb(227, 227, 227);
  border-radius: 20px 0 0 20px;
}
#inp::placeholder {
  color: rgb(194, 194, 194);
}
#sub {
  color: white;
  outline: 0;
  width: 80px;
  height: 30px;
  border: 0;
  border-radius: 30px;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0);
}
#sub:active {
  background-color: rgba(250, 255, 255, 0);
}
.btn {
  position: relative;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  overflow: hidden;

  transition: 0.5s;
}
.btn:hover {
  transition: 0.5s;
  height: 60px;
  width: 60px;
}

.btn.active {
  background: linear-gradient(to right, var(--bghd-color), #ffffff);
  color: black;
  border-color: var(--bghd-color);
  border-radius: 20px;
  transition: 0.2ms;
}
.btn img {
  position: absolute;
  top: 0;
  right: -2px;

  height: 100%;
  object-fit: cover;
  display: block;
}
#cht {
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.377);
  margin-top: 5px;
  transition: 0.2ms;

}
#cht:hover {

  transition: 0.2ms;

  
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

#nav {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 10%;
  left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: rgba(255, 255, 255, 0.564) 1px dotted;
  width: 100px;
  height: 18vh;
  border-radius: 10px;
}
.bt {

  color: rgb(230, 230, 230);
  border: 0.1px solid rgb(255, 255, 255);
  margin: 5px;
  border-radius: 20px;
  height: 30px;
  background-color: rgba(38, 38, 38, 0.1);
}
.bt:hover {
  font-size: 14px;
  transition: 0.2s;
  background-color: rgb(57, 59, 47);
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;

  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}
@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}
