<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Link to external CSS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
  </head>
  <body>
    <h1 id="hd">M I N D - E A S E </h1>
    <div id="cht">
      <button id="baymax" class="btn" onclick="submitColor('A1');selectButton(this)">
        <img src="static/uploads/baymax.jpeg" alt="icon">
      </button>
      <button id="spritual" class="btn" onclick="submitColor('A2');selectButton(this)">
        <img src="static/uploads/spri.png" alt="icon">
      </button>
      <button class="btn" onclick="submitColor('A3');selectButton(this)">
        <img src="static/uploads/mix.png" alt="icon">
      </button> 
    </div>
    <div id="chatbox"></div>
    <div id="inpbox">

      <input id="inp" type="text" placeholder="Ask..." />
      
      <button id="sub">Send</button>
      
    </div>

    <div id="nav">
      <button class="bt" onclick="window.location.href='http://localhost:4000/'">Conference</button>
      
      <button class="bt" onclick="window.location.href='/graph'">Static</button>
      <button id="vidr" class="bt" >Video</button>
      <button class="bt" id="nchat" >New Chat</button>
      
    </div>

    <div id="videoRecommendation"></div>

    <div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
   </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
